  <!-- Carousel -->
  <mdb-carousel [animation]="'slide'">
      
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" height="500px" alt="First slide">
        </mdb-carousel-item>
  
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" height="500px" alt="Second slide">
        </mdb-carousel-item>
  
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" height="500px" alt="Third slide">
        </mdb-carousel-item>
  </mdb-carousel>
  <!-- Carousel -->
  <br>
<div class="container"> 
  

<section class="pb-3 text-center ">

       
        <div class="row">
      
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">
      
            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""></mdb-card-img>
                <div class="stripe dark">
                  <a>
                    <p>Red trousers
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->
      
          </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">
      
            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" alt=""></mdb-card-img>
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->
      
          </div>
          <!--Grid column-->
      
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">
      
            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" alt=""></mdb-card-img>
                <div class="stripe dark">
                  <a>
                    <p>Accessories
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->
      
          </div>
          <!--Grid column-->
      
          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-4">
      
            <!--Collection card-->
            <mdb-card class="collection-card z-depth-1-half">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" alt=""></mdb-card-img>
                <div class="stripe light">
                  <a>
                    <p>Sweatshirt
                      <mdb-icon fas icon="angle-right"></mdb-icon>
                    </p>
                  </a>
                </div>
              </div>
              <!--Card image-->
            </mdb-card>
            <!--Collection card-->
      
          </div>
          <!--Fourth column-->
      
        </div>
        <!--Grid row-->
      
      </section>
      <!--Section: Products v.4-->
</div>